
body{

    padding: 50px 100px;

}
 


h1 {
    font-size: 0.5rem;
    width: 165px;
    position: absolute;
    left: 3.04rem;
    top: 0.5rem;
    background-color: rgba(0, 149, 255, 0.741);
    color: white;
    text-align: center;
}

#textbox {
    background-color: lightgrey;
    height: 5rem;
    width: 10rem;
    position: absolute;
    left: 3rem;
    top: 1.5rem;
    text-align: center;


}

p{

    background-color: rgba(0, 149, 255, 0.741);
    position: absolute;
    
    top:6rem;
    left: 3rem;
    text-align: center;
    height: 10px;
    color: white;
    
}

#wc {
    font-size: 0.6rem;
    position: absolute;
    top: 6.35rem;
    left: 2.98rem;
    width: 10.4rem;
    
    
}


